.info{
    background-color: #683b2bb9;
    padding: 4rem;
    
    
}
.info__container{
    background-color: #f5e97fc0;
    padding: 2rem;
    padding-top: 0rem;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.486) 0px 5px 15px;
    /* display: none; */
    
}
.info__container-form{
    background-color: #dbebd0ab;
    padding: 2rem;
    border-radius: 20px; 
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.img-container{
    position: absolute;
    width: 35%;
    height: 40%;
    left: 65%;
    top: 2%;
    background-image: url("../assets/salary.png");
    background-size: cover;
    background-repeat: no-repeat;      
}
.heading{
    color: #683b2bb9;
    font-weight: 700; 
    text-align: center;
    font-size: 4.5rem;
    text-shadow: 2px 4px 4px rgba(75, 31, 31, 0.952);   
}
label{
    color: rgb(62, 90, 62);
    font-size: 2rem;
    text-align: center;
}
.input-container{
    margin-bottom: 1.5rem;
  
}
.icon{
    border-radius: 50%;
    background-color: #f5e97fc0;
}
input, select{
    color: #683b2bb9;
    border-color: #683b2b4b;
    background-color: cornsilk;
    box-shadow: rgba(0, 0, 0, 0.431) 0px 2px 4px 0px inset;
    
}
.calculate{
    background-color: #683b2bb9;
    color: #f5e97fc0;
    font-weight: 700;   
    box-shadow: rgba(0, 0, 0, 0.61) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.calculate:focus{
    box-shadow: none;
}

.result-card{
    background-color: cornsilk ;
    padding: 2rem;
    border: 1rem solid #f5e97fc0; 
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 10px 30% 10px 10px; 
    box-shadow: rgba(50, 50, 93, 0.541) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
h4{
    margin: 4rem;
    color: olive;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.431) 0px 2px 4px 0px inset;
    padding: 1rem; 
    font-size: 2.5rem;  
}
